@model IEnumerable<Beauty.ViewModels.ItemViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background: url('/Images/Items/fon2.jpg') center center fixed;
        background-size: cover;
        color: black;
        display: flex;
        flex-direction: column;
    }
</style>
<h1>Список товаров</h1>

<p>
    <a asp-controller="Items" asp-action="Create">Добавить товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Title)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AvailabilitySort"]">Availability</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
              
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Availability)
                </td>
           
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id },new { @class = "btn btn-primary" })
                    @Html.ActionLink("Order on Warehouse", "OrderOnWarehouse", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
