
@model Beauty.Models.BService

<style>
    .container {
        margin-top: 50px;
    }

    h2 {
        text-align: center;
    }

    hr {
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }

    .item-image {
        text-align: center;
    }

        .item-image img {
            max-height: 400px;
            max-width: 100%;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            background-color: #f8f9fa;
        }

    .details-list {
        list-style-type: none;
        padding: 0;
        background-color: white; /* Add this line to set white background */
        padding: 10px; /* Add padding for better visual appearance */
        border-radius: 5px; /* Optional: Add border-radius for rounded corners */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
    }
    .white-back{
        background-color: white;
        border-radius:5%;
    }
        .details-list dt {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .details-list dd {
            margin-bottom: 10px;
        }

    .back-to-list {
        text-align: center;
        margin-top: 20px;
    }

</style>
<div class="white-back">

<div class="container">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <hr />
    
    <div class="item-image">
        @{
            var base64 = Convert.ToBase64String(Model.Image);
            var imgsrc = string.Format("data:image/jpg;base64, {0}", base64);
        }
        <img src="@imgsrc" alt="Product Image" />

    </div>
   Цена
    <dd>@Html.DisplayFor(model => model.Price) руб.</dd>
    <div class="back-to-list">
        <a href="@Url.Action("Create", "Record", new { bServiceId = Model.Id })" class="btn btn-primary">Записаться на услугу</a>
    </div>
    <dl class="details-list">
        <dt>Описание:</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
        <dt>Категория:</dt>
        <dd>@Html.DisplayFor(model => model.TypeService.Title)</dd>

    </dl>
    <div>



        <div class="back-to-list">
           
        </div>

</div>
    <div class="back-to-list">
        <a href="@Url.Action("BServicesIndex", "Home")" class="btn btn-primary">Каталог</a>
    </div>
    </div>
 
</div>
